
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centraliza">

    <div class="row mt-4">

        <div class="col-md-12 bg-light p-4">

            <div class="centraliza">
                <div class="row">
                    <h1>Acceso no autorizado</h1>

                </div>
                <div class="row">
                    <p>
                        Lo sentimos pero usted no tiene permiso para acceder a este sitio. 
                    </p>
                </div>
                <div class="row">
                    <p>
                        En caso de dudas por favor comuníquese con el área de Informática a través del
                        <a href="mailto:desarrollo@tax-individual.com.co">desarrollo@tax-individual.com.co</a>.
                    </p>
                </div>

                @*<div class="row mt-4">
                    <p>
                        <a href="javascript:window.close()"><i class="fa fa-reply"></i> Volver</a>
                    </p>
                </div>*@
            </div>
        </div>
    </div>
</div>